.user-image {
    width: 40px;
}

.nav-elements {
    display: flex;
    justify-content: end;
    align-items: center;
}

.categories {
    list-style-type: none;
}

.categories a {
    text-decoration: none;
    color: gray;
}

.categories a:active {
    color: blue;
}

.author-image {
    width: 50px;
    border-radius: 50%;

}